footer {
  background-color: beige;

  h4 {
    color: black;
    padding: 3rem;
    text-align: center;

  }
}


.footersu {
  background-color: beige;
  padding: 3rem;
  text-align: center;
}

.footerprod {
  background-color: beige;
  padding: 3rem;
  text-align: center;
}

.footercon {
  background-color: beige;
  padding: 3rem;
  text-align: center;
}

.footermp {
  background-color: beige;
  padding: 3rem;
  text-align: center;
}