.logo {
  width: 100px;
}


header {
  background-color: beige;
}

.headersu {
  background-color: beige;
}

.headerprod {
  background-color: beige;
}

.headercon {
  max-width: 100%;
  background-color: beige;
}

.headermp {
  background-color: beige;
}