main {
  background-color: #f5f5dc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

  h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }

  .video {
    text-align: center;
    padding: 1rem;
  }

  .video {
    transition: all 2s ease;
  }

  .video {
    width: $ancho;
    height: $altura - 50px ;
  }

  h4 {
    color: black;
    text-align: center;
  }

  p {
    padding: 10px;
  }
}

.mainsu {
  background-color: $fondo_beige;

  .maps {
    width: $ancho;
    height: $altura;

  }

}

.mainprod {
  background-color: $fondo_beige;
  padding: 3rem;
  text-align: center;
}

.maincontacs {
  background-color: $fondo_beige;
  padding: 3rem;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  h2 {
    text-align: center;
  }

  .imgc {
    width: $ancho;
  }
}

.mainmp {
  background-color: $fondo_beige;
  padding: 3rem;
  text-align: center;

  .imgpago {
    width: $ancho;
    text-align: center;
  }

  .imgpago {
    transition: all 2s ease;
  }

  .imgpago:hover {
    width: $altura - 100px;
  }
}