.video {
    text-align: center;
    padding: 1rem;
  }
  
  .video {
    transition: all 2s ease;
  }
  
  .video {
    width: 90%;
    height: 450px;
  }
  .maps {
    width: 100%;
    height: 500px;
  
  }  
  .footersu {
    padding: 3rem;
    text-align: center;
  }
.footerprod{
padding: 3rem;
text-align: center;
}
.mainprod{
    padding: 3rem;
    text-align: center;
}
headercon{
    max-width: 100%;
}

  img,
svg {
  width: 100%;
}
.logo {
    width: 100px;
  }
  body{
    background-color: rgb(163, 228, 217);
  }
  .imgpago{
    width: 700px;
    text-align: center;
  }
  .footermp{
    padding: 3rem;
    text-align: center;
  }
  .maincontacs{
    padding: 3rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .footercon{
    padding: 3rem;
    text-align: center;
  }
  .footer{
    padding: 3rem;
    text-align: center;
  }
  .mainmp{
    padding: 3rem;
    text-align: center;
  }
  .imgpago{
    transition: all 2s ease;
  }
  .imgpago:hover{
    width: 850px;
  }
  main{
    padding: 3rem;
    text-align: center;
    background-color: beige;
  }
  header{
    background-color: beige;
  }
  footer{
    background-color: beige;
  }