body {
  background-color: beige;
}


@import "header";
@import "main";
@import "footer";

.maincontacs {
  background-color: beige;
  padding: 3rem;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
  h2{
    text-align: center;
  }
  .imgc {
    width: 100%;
  }
}














.imgpago {
  width: 100%;
  text-align: center;
}

.footermp {
  padding: 3rem;
  text-align: center;
}


.footercon {
  padding: 3rem;
  text-align: center;
}


.mainmp {
  padding: 3rem;
  text-align: center;
}

.imgpago {
  transition: all 2s ease;
}

.imgpago:hover {
  width: 850px;
}